<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<p>
  <strong>Forms response:</strong>
  <%= @answer.forms_response_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
