<%= form_with(model: @forms_response) do |form| %>
  <% if @forms_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forms_response.errors.count, "error") %> prohibited this forms_response from being saved:</h2>

      <ul>
        <% @forms_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= render 'form_fields', f: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
